<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://packages.nuget.org/v1/FeedService.svc/" />
    <add key="nrth" value="https://nuget.nrth.com/nuget/nuget" />
  </packageSources>
  <packageSourceCredentials>
    <nrth>
      <add key="Username" value="%nuget__proget__username%" />
      <add key="ClearTextPassword" value="%nuget__proget__password%" />
    </nrth>
  </packageSourceCredentials>
</configuration>